<footer class="bg-dark text-light mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Python Developer Portfolio</h5>
                <p>Сайт создан на Django для демонстрации навыков разработки</p>
            </div>
            <div class="col-md-6 text-end">
                <div class="social-links">
                    <a href="#" class="text-light me-3"><i class="fab fa-github"></i></a>
                    <a href="#" class="text-light"><i class="fab fa-telegram"></i></a>
                </div>
        </div>
    </div>
</footer>